<app-header></app-header>

<div class="container">

    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre del Evento" formControlName="nombreEvento">
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="exampleFormControlInput1">Fecha de Inicio</label>
                <input type="text" class="form-control" placeholder="Fecha de Inicio" formControlName="fechaInicio">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Fecha de Fin</label>
                <input type="text" class="form-control" placeholder="Fecha de Fin" formControlName="fechaFin">
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="exampleFormControlInput1">Fue Realizado el Evento?</label>
                <input type="text" class="form-control" placeholder="Fue Realizado el Evento?(true/false)" formControlName="fueRealizado">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Motivo de No Realizacion</label>
                <input type="text" class="form-control" placeholder="Por qué no se realizó? (dejar vacío en caso contrario)" formControlName="motivoDeNoRealizacion">
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="exampleFormControlInput1">Encuesta del Evento</label>
                <input type="text" class="form-control" placeholder="URL a la Encuesta en Microsoft Forms" formControlName="encuestaEvento">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Resultados de la Encuesta</label>
                <input type="text" class="form-control" placeholder="Resultados de la Encuesta en Microsoft Forms" formControlName="resultadosEncuesta">
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="exampleFormControlInput1">ID Organo Institucional</label>
                <input type="text" class="form-control" placeholder="ID Organo Institucional" formControlName="idOrganoInstitucional">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">ID Escuela</label>
                <input type="text" class="form-control" placeholder="ID Escuela (dejar vacío si no hay)" formControlName="idEscuela">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">ID Programa</label>
                <input type="text" class="form-control" placeholder="ID Programa (dejar vacío si no hay)" formControlName="idPrograma">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">ID Organizador</label>
                <input type="text" class="form-control" placeholder="ID Organizador" formControlName="idOrganizadorEvento">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <button type="button" class="btn btn-danger" (click)="eliminar()" style="margin-left: 2%;">Eliminar Evento</button>
        <button type="volver" class="btn btn-dark" (click)="volver()" style="margin-left: 2%;">Volver</button>

    </form>

</div>

<app-footer></app-footer>