<app-header></app-header>

<div class="container">

    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre Completo del Invitado" formControlName="nombreInvitado">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Correo</label>
            <input type="text" class="form-control" placeholder="Correo del Invitado" formControlName="correoInvitado">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Credenciales</label>
            <input type="text" class="form-control" placeholder="Credenciales del Invitado" formControlName="credencialesInvitado">
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <button type="button" class="btn btn-danger" (click)="eliminar()" style="margin-left: 2%;">Eliminar Invitado</button>
        <button type="volver" class="btn btn-dark" (click)="volver()" style="margin-left: 2%;">Volver</button>

    </form>

</div>

<app-footer></app-footer>