<app-header></app-header>

<div class="container">
    <div class="vertical-center">
        <div class="fadeIn first">
            <button (click)="onClick1()" class="fadeIn second">Editar/Borrar Evento</button>
            <button (click)="onClick2()" class="fadeIn second">Invitados</button>
            <button (click)="onClick3()" class="fadeIn second">Ubicaciones</button>
            <button (click)="onClick4()" class="fadeIn second">Registros</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
